.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
  @media only screen and (max-width: $bp-small) {
    padding: 4rem;
  }
}
.nav {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  &__item {
  }
  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-display;
    text-align: center;
    display: block;
    padding: 1.5rem;
    transition: all 0.2s;
  }
  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }
  &__link:active {
    outline: none;
  }
}
.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  text-align: center;
  text-transform: capitalize;
  width: 70%;
  margin: 0 auto;
  margin-top: 6rem;
}
