.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  background: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../img/hero.jpeg) center/cover fixed;
  padding: 1rem 2rem 3rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(5rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  grid-row-gap: 1.5rem;
  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }
  @media only screen and (max-width: $bp-small) {
    padding: 1rem 2rem 1rem;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
    align-self: center;
  }
  &__btn {
    align-self: start;
    justify-self: start;
  }
  &__seenon-text {
    font-size: 1.6rem;
    color: $color-grey-light-2;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 1.5rem;
    text-transform: capitalize;
    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentcolor;
    }
  }
  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;
    img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }
}
