.homes {
  grid-column: centre-start / centre-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  @media only screen and (max-width: $bp-small) {
    margin: 5rem 0;
  }
}
.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $color-grey-light-1;
  grid-row-gap: 3.5rem;
  &__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
  }
  &__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-primary;
    justify-self: end;
    cursor: pointer;
    z-index: 2;
    margin: 1rem;
  }
  &__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    font-family: $font-display;
    font-size: 1.6rem;
    text-transform: capitalize;
    text-align: center;
    padding: 1.25rem;
    background-color: $color-secondary;
    color: #fff;
    font-weight: 400;
    width: 80%;
    justify-self: center;
    align-self: end;
    transform: translateY(50%);
    z-index: 2;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.1);
  }
  &__location,
  &__rooms {
    margin-top: 2.5rem;
  }
  &__location,
  &__rooms,
  &__area,
  &__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    svg {
      width: 2rem;
      height: 2rem;
      fill: $color-primary;
      margin-right: 1rem;
    }
  }
  &__btn {
    grid-column: 1 / -1;
  }
}
