.realtors {
  // padding: 3rem;
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-row-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
    padding: 5rem 0;
  }
  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-gap: 5vh 2rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    }
    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
    align-items: center;
  }
  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }
  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
  &__details {
    text-transform: capitalize;
  }
}
