.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  background-color: #fff;
  width: 4.5rem;
  height: 2px;
  position: relative;
  margin-top: 4rem;
  &::before,
  &::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 4.5rem;
    height: 2px;
    position: absolute;
  }
  &::before {
    top: -1.3rem;
  }
  &::after {
    top: 1.3rem;
  }
  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 3rem;
  }
}
